tg-chart-pie {
    --tg-pie-chart-color-1: red;
    --tg-pie-chart-color-2: green;
    --tg-pie-chart-color-3: blue;
    --tg-pie-chart-color-4: yellow;
    --tg-pie-chart-color-5: cyan;
    --tg-pie-chart-color-6: purple;
    --tg-pie-chart-color-7: lightgreen;
    --tg-pie-chart-color-8: pink;
    --tg-pie-chart-color-9: brown;
    --tg-pie-chart-color-10: darkyellow;
}
